@import '~vuetify/src/stylus/main'

.secondary-text
    color #FCB741

.primary
    color #182D72

.v-footer .v-card
    width inherit

@font-face
    font-family 'Product Sans'
    font-style normal
    font-weight 400
    font-display auto
    src local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2')

.product-sans
    font-family 'Product Sans' !important;

.calendar
    max-height -webkit-fill-available
    max-height -moz-available
    max-height fill-available
    overflow auto